In [2]:
from pandas import DataFrame, Series

In [3]:
s1 = Series([1,2,3,4,5])

s2 = Series([4,2,1,4,None])

In [4]:
s1>s2

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [5]:
s1.gt(s2,)

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [6]:
df = DataFrame({'A':[1,2,3,4,5],'B':[1,2,3,4,5]})

gt support axis

In [9]:
df.gt(s1,axis=0)

       A      B
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

In [14]:
Series([True]).bool()

True

In [20]:
import pandas as pd
import numpy as np
series = pd.Series(np.random.randn(10))
series[::5] = np.nan
series

0         NaN
1   -1.560357
2   -0.463851
3   -1.354134
4    0.768246
5         NaN
6   -0.345217
7   -0.046791
8   -1.292076
9    2.362879
dtype: float64