In [1]:
import pandas as pd
import pandas as numpy
from pandas import DataFrame, Series

from IPython.display import display

## 特点
### 自动label对齐
pandas一个很显著特征就是能够根据label(index或者columns)自动的去进行对齐。

In [2]:
df_1 = DataFrame({'A':[1,1,1], 'B':[1,1,1]}, index = [1,2,3], columns = ['A','B'])
df_2 = DataFrame({'A':[1,1,1], 'C':[1,1,1]}, index = [4,1,2], columns = ['A','C'])

In [3]:
display(df_1,df_2)

   A  B
1  1  1
2  1  1
3  1  1

   A  C
4  1  1
1  1  1
2  1  1

In [4]:
display(df_1.add(df_2,fill_value=0))

     A    B    C
1  2.0  1.0  1.0
2  2.0  1.0  1.0
3  1.0  1.0  NaN
4  1.0  NaN  1.0

这个特征大部分时候都能给我们带来便利,但是如果有时候也会带来麻烦。例如我们只想基于位置对齐的时候，就要考虑一下pandas的这个特征会不会给我们带来麻烦。

例如下面的例子里， 如果我们确实想忽略index。让两个Series相应位置的元素相加的话。可以先用Series.values转成numpy.array。 numpy.array没有label信息，会直接按照对应位置相加。然后我们再将计算结果转化成Series。

In [20]:
s1 = Series([1,2,3],index = [11,1,3])
s2 = Series([3,2,1],index = [0,2,1])
display(s1,s2)

11    1
1     2
3     3
dtype: int64

0    3
2    2
1    1
dtype: int64

In [21]:
Series(s1.values+s2.values)

0    4
1    4
2    4
dtype: int64

axis

broad_axis

method

copy

fill_axis

level 

join