In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

import inspect
inspect.isclass(Base)

True

优点，修改方便。

类似的git的缓存机制。

事务性。

可以利用SQLAlchemy Core的object。

In [7]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
       return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [8]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [9]:
type(User.__table__)

sqlalchemy.sql.schema.Table

和用Table建立的数据结构是一致的。

In [10]:
from IPython.display import display

In [11]:
from helper import reset_tables,clear_tables,clear_schema,get_select,get_table,print_sql

In [12]:
from sqlalchemy import create_engine

user = 'test'
password = 'test'
port = '5432'
dbname = 'test'

engine = create_engine('postgresql://{user}:{password}@localhost:{port}/{dbname}'.format(**locals()), echo = True)

clear_tables(engine)

2017-01-20 14:39:45,624 INFO sqlalchemy.engine.base.Engine select version()
2017-01-20 14:39:45,626 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,643 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-01-20 14:39:45,644 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,646 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-01-20 14:39:45,647 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,707 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-01-20 14:39:45,708 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,709 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-01-20 14:39:45,710 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,712 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS test.users CASCADE
2017-01-20 14:39:45,713 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:45,966 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:45,999 INFO sqlalchemy.engine.base.Engine DROP TABLE IF EXISTS test.addresses CASCADE
2017-01-20 14:39:46,000 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:46,003 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
Base.metadata.create_all(engine)

2017-01-20 14:39:46,021 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-01-20 14:39:46,022 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2017-01-20 14:39:46,100 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2017-01-20 14:39:46,101 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:46,316 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

print(ed_user.name,ed_user.password,str(ed_user.id))

ed edspassword None

In [15]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [16]:
Session = sessionmaker()
Session.configure(bind=engine)

In [17]:
session = Session()

In [18]:
users,addresses = reset_tables(engine)

ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
session.add(ed_user)

display(get_table(engine,users))

2017-01-20 14:39:46,866 INFO sqlalchemy.engine.base.Engine DROP SCHEMA IF EXISTS test CASCADE
2017-01-20 14:39:46,867 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:46,871 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:46,948 INFO sqlalchemy.engine.base.Engine CREATE SCHEMA test
2017-01-20 14:39:46,948 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:46,975 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:47,033 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2017-01-20 14:39:47,034 INFO sqlalchemy.engine.base.Engine {'name': 'users', 'schema': 'test'}
2017-01-20 14:39:47,036 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2017-01-20 14:39:47,037 INFO sqlalchemy.engine.base.Engine {'name': 'addresses', 'schema': 'test'}
2017-01-20 14:39:47,040 INFO sqlalchemy.engine.base.Engine
CREATE TABLE test.users (
	id SERIAL NOT NULL,
	name VARCHAR(20),
	fullname VARCHAR(20),
	password VARCHAR(20),
	PRIMARY KEY (id)
)


2017-01-20 14:39:47,042 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:47,092 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:47,130 INFO sqlalchemy.engine.base.Engine
CREATE TABLE test.addresses (
	id SERIAL NOT NULL,
	user_id INTEGER,
	email_address VARCHAR(20) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES test.users (id)
)


2017-01-20 14:39:47,131 INFO sqlalchemy.engine.base.Engine {}
2017-01-20 14:39:47,228 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:47,283 INFO sqlalchemy.engine.base.Engine INSERT INTO test.users (name, fullname) VALUES (%(name_0)s, %(fullname_0)s), (%(name_1)s, %(fullname_1)s)
2017-01-20 14:39:47,284 INFO sqlalchemy.engine.base.Engine {'fullname_1': 'Wendy Williams', 'fullname_0': 'Jack Jones', 'name_0': 'jack', 'name_1': 'wendy'}
2017-01-20 14:39:47,285 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:47,306 INFO sqlalchemy.engine.base.Engine INSERT INTO test.addresses (user_id, email_address) VALUES (%(user_id_0)s, %(email_address_0)s), (%(user_id_1)s, %(email_address_1)s), (%(user_id_2)s, %(email_address_2)s), (%(user_id_3)s, %(email_address_3)s)
2017-01-20 14:39:47,307 INFO sqlalchemy.engine.base.Engine {'email_address_3': 'wendy@aol.com', 'user_id_0': 1, 'user_id_2': 2, 'user_id_3': 2, 'email_address_0': 'jack@yahoo.com', 'email_address_2': 'www@www.org', 'email_address_1': 'jack@msn.com', 'user_id_1': 1}
2017-01-20 14:39:47,309 INFO sqlalchemy.engine.base.Engine COMMIT
2017-01-20 14:39:47,322 INFO sqlalchemy.engine.base.Engine SELECT test.users.id, test.users.name, test.users.fullname, test.users.password
FROM test.users
2017-01-20 14:39:47,323 INFO sqlalchemy.engine.base.Engine {}

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None

In [19]:
our_user = session.query(User).filter_by(name='ed').first() # doctest:+NORMALIZE_WHITESPACE
our_user

2017-01-20 14:39:47,340 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-01-20 14:39:47,341 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2017-01-20 14:39:47,342 INFO sqlalchemy.engine.base.Engine {'name': 'ed', 'fullname': 'Ed Jones', 'password': 'edspassword'}
2017-01-20 14:39:47,344 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2017-01-20 14:39:47,345 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'name_1': 'ed'}

In [20]:
our_user is ed_user

True

In [21]:
display(get_table(engine,users))

2017-01-20 14:39:47,587 INFO sqlalchemy.engine.base.Engine SELECT test.users.id, test.users.name, test.users.fullname, test.users.password
FROM test.users
2017-01-20 14:39:47,588 INFO sqlalchemy.engine.base.Engine {}

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None

In [22]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')]
)

In [23]:
ed_user.password = 'f8s7ccs'

In [24]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [25]:
session.new

IdentitySet([<User(name='mary', fullname='Mary Contrary', password='xxg527')>, <User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='fred', fullname='Fred Flinstone', password='blah')>])

commit后才能生效

In [26]:
session.commit()

2017-01-20 14:39:48,071 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=%(password)s WHERE users.id = %(users_id)s
2017-01-20 14:39:48,072 INFO sqlalchemy.engine.base.Engine {'password': 'f8s7ccs', 'users_id': 3}
2017-01-20 14:39:48,073 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2017-01-20 14:39:48,074 INFO sqlalchemy.engine.base.Engine {'name': 'wendy', 'fullname': 'Wendy Williams', 'password': 'foobar'}
2017-01-20 14:39:48,076 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2017-01-20 14:39:48,076 INFO sqlalchemy.engine.base.Engine {'name': 'mary', 'fullname': 'Mary Contrary', 'password': 'xxg527'}
2017-01-20 14:39:48,077 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2017-01-20 14:39:48,078 INFO sqlalchemy.engine.base.Engine {'name': 'fred', 'fullname': 'Fred Flinstone', 'password': 'blah'}
2017-01-20 14:39:48,079 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
display(get_table(engine,users))

2017-01-20 14:39:48,212 INFO sqlalchemy.engine.base.Engine SELECT test.users.id, test.users.name, test.users.fullname, test.users.password
FROM test.users
2017-01-20 14:39:48,213 INFO sqlalchemy.engine.base.Engine {}

   id   name        fullname password
0   1   jack      Jack Jones     None
1   2  wendy  Wendy Williams     None
2   3     ed        Ed Jones  f8s7ccs
3   4  wendy  Wendy Williams   foobar
4   5   mary   Mary Contrary   xxg527
5   6   fred  Fred Flinstone     blah

In [28]:
ed_user.id

2017-01-20 14:39:48,334 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-01-20 14:39:48,336 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2017-01-20 14:39:48,337 INFO sqlalchemy.engine.base.Engine {'param_1': 3}

3

transient, pending, and persistent similiar with git

In [29]:
ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2017-01-20 14:39:48,421 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=%(name)s WHERE users.id = %(users_id)s
2017-01-20 14:39:48,422 INFO sqlalchemy.engine.base.Engine {'name': 'Edwardo', 'users_id': 3}
2017-01-20 14:39:48,424 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2017-01-20 14:39:48,425 INFO sqlalchemy.engine.base.Engine {'name': 'fakeuser', 'fullname': 'Invalid', 'password': '12345'}
2017-01-20 14:39:48,427 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2017-01-20 14:39:48,428 INFO sqlalchemy.engine.base.Engine {'name_2': 'fakeuser', 'name_1': 'Edwardo'}

[<User(name='Edwardo', fullname='Ed Jones', password='f8s7ccs')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [30]:
session.rollback()

2017-01-20 14:39:48,519 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [31]:
ed_user.name

2017-01-20 14:39:48,636 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-01-20 14:39:48,637 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2017-01-20 14:39:48,638 INFO sqlalchemy.engine.base.Engine {'param_1': 3}

'ed'

In [32]:
fake_user in session

False

In [33]:
session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()

2017-01-20 14:39:48,820 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2017-01-20 14:39:48,821 INFO sqlalchemy.engine.base.Engine {'name_2': 'fakeuser', 'name_1': 'ed'}

In [34]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2017-01-20 14:39:48,911 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-01-20 14:39:48,911 INFO sqlalchemy.engine.base.Engine {}
jack Jack Jones
wendy Wendy Williams
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [35]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

2017-01-20 14:39:49,028 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2017-01-20 14:39:49,029 INFO sqlalchemy.engine.base.Engine {}
jack Jack Jones
wendy Wendy Williams
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [36]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

2017-01-20 14:39:49,119 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-01-20 14:39:49,120 INFO sqlalchemy.engine.base.Engine {}
<User(name='jack', fullname='Jack Jones', password='None')> jack
<User(name='wendy', fullname='Wendy Williams', password='None')> wendy
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed
<User(name='wendy', fullname='Wendy Williams', password='foobar')> wendy
<User(name='mary', fullname='Mary Contrary', password='xxg527')> mary
<User(name='fred', fullname='Fred Flinstone', password='blah')> fred

In [37]:
for row in session.query(User.name.label('name_label')).all():
    print(row.name_label)

2017-01-20 14:39:49,218 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-01-20 14:39:49,220 INFO sqlalchemy.engine.base.Engine {}
jack
wendy
ed
wendy
mary
fred

In [38]:
from sqlalchemy.orm import aliased
user_alias = aliased(User, name='user_alias')

for row in session.query(user_alias, user_alias.name).all():
    print(row.user_alias,row.name)

2017-01-20 14:39:49,311 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-01-20 14:39:49,312 INFO sqlalchemy.engine.base.Engine {}
<User(name='jack', fullname='Jack Jones', password='None')> jack
<User(name='wendy', fullname='Wendy Williams', password='None')> wendy
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed
<User(name='wendy', fullname='Wendy Williams', password='foobar')> wendy
<User(name='mary', fullname='Mary Contrary', password='xxg527')> mary
<User(name='fred', fullname='Fred Flinstone', password='blah')> fred

In [39]:
for u in session.query(User).order_by(User.id)[1:3]:
    print(u)

2017-01-20 14:39:49,437 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT %(param_1)s OFFSET %(param_2)s
2017-01-20 14:39:49,439 INFO sqlalchemy.engine.base.Engine {'param_2': 1, 'param_1': 2}
<User(name='wendy', fullname='Wendy Williams', password='None')>
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>

In [40]:
for name, in session.query(User.name).filter_by(fullname='Ed Jones'):
    print(name)

2017-01-20 14:39:49,517 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = %(fullname_1)s
2017-01-20 14:39:49,520 INFO sqlalchemy.engine.base.Engine {'fullname_1': 'Ed Jones'}
ed

filter support python operator

In [41]:
for name, in session.query(User.name).filter(User.fullname=='Ed Jones'):
    print(name)

2017-01-20 14:39:49,609 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = %(fullname_1)s
2017-01-20 14:39:49,610 INFO sqlalchemy.engine.base.Engine {'fullname_1': 'Ed Jones'}
ed

filter several time to AND

In [42]:
for user in session.query(User).\
         filter(User.name=='ed').\
         filter(User.fullname=='Ed Jones'):
    print(user)

2017-01-20 14:39:49,700 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.fullname = %(fullname_1)s
2017-01-20 14:39:49,702 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'fullname_1': 'Ed Jones'}
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>

common comparitor

In [45]:
from sqlalchemy.orm import column_property
from sqlalchemy import select, func
from sqlalchemy import Column, Integer, String, ForeignKey

from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('user.id'))

class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    address_count = column_property(
        select([func.count(Address.id)]).\
            where(Address.user_id==id).\
            correlate_except(Address)
    )

In [46]:
for user_id in session.query(User.id, User.address_count):
    print(user_id)

2017-01-20 14:43:47,102 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id
FROM users
2017-01-20 14:43:47,104 INFO sqlalchemy.engine.base.Engine {}
(1,)
(2,)
(3,)
(4,)
(5,)
(6,)