In [4]:
import pandas as pd
import pandas as numpy
from pandas import DataFrame, Series

from IPython.display import display

## 特点
### 自动label对齐

In [7]:
df_1 = DataFrame({'A':[1,1,1], 'B':[1,1,1]}, index = [1,2,3], columns = ['A','B'])
df_2 = DataFrame({'A':[1,1,1], 'C':[1,1,1]}, index = [4,1,2], columns = ['A','C'])

In [8]:
display(df_1,df_2)

   A  B
1  1  1
2  1  1
3  1  1

   A  C
4  1  1
1  1  1
2  1  1

In [9]:
display(df_1.add(df_2))

     A   B   C
1  2.0 NaN NaN
2  2.0 NaN NaN
3  NaN NaN NaN
4  NaN NaN NaN