In [159]:
from sqlalchemy.exc import ProgrammingError

## engine
engine持有和数据库的连接信息，是后面所有操作的基础。

我安装postgresql,建立一个测试用的用户和数据库，名称都用了'test',请根据自己情况修改。

In [160]:
from sqlalchemy import create_engine

def create_db_engine(dbtype, user, password, dbname, port):    
    url = 'postgresql://{user}:{password}@localhost:{port}/{dbname}'.format(**locals())

    return create_engine(url)

engine = create_db_engine('postgresql','test','test','test','5432')

## schema操作

### 新建

注意如果建已经存在的schema,会出现ProgrammingError的错误，可以用try语句处理下

In [161]:
from sqlalchemy.schema import CreateSchema
def create_schema(engine, schema_name):
    try:
        engine.execute(CreateSchema(schema_name))
    except ProgrammingError as e:
        if 'already exists' in str(e):
            print('schema already exists')
        else:
            raise e
            
create_schema(engine,'test')

### 删除

同样, 如果删除已经不存在的schema,会报ProgrammingError,需要用try语句处理下。

In [162]:
from sqlalchemy.schema import DropSchema
def drop_schema(engine, schema_name, cascade = False):
    try:
        engine.execute(DropSchema(schema_name, cascade = cascade))
    except ProgrammingError as e:
        if 'does not exist' in str(e):
            print("schema doesn't exists")
        else:
            raise e
            
drop_schema(engine,'test', cascade=True)

## table操作

### 新建

In [163]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, Sequence
from sqlalchemy.schema import CreateTable

table_name = 'users'
schema = 'test'
# put mandatory parameters in [] and optional parameters in {}
column_configs = [
    (['id',Integer],{'primary_key':True}),
    (['name',String(20)],{}),
    (['fullname',String(20)],{})
]

def create_table(engine,table_name,column_config, schema = schema):
    try:
        metadata = MetaData()

        columns = [
            Column(*args,**kwargs) for
            args, kwargs in column_configs
        ]

        table = Table(
            table_name,
            metadata,
            *columns,
            schema = schema
        )

        engine.execute(CreateTable(table))
    except ProgrammingError as e:
        if 'already exists' in str(e):
            print('Table already exists')
        else:
            raise e
            
create_schema(engine, 'test')    
create_table(engine,table_name,column_configs, schema = 'test')

In [164]:
create_table(engine,table_name,column_configs, schema = 'test')

Table already exists

sqlalchemy默认会将第一个Integer类型且被标记成primary key的Column设置成autoincrement。不过如果按照[文档](http://docs.sqlalchemy.org/en/rel_1_1/core/tutorial.html#define-and-create-tables)里的要求，改成适用更多数据库的
```
Column('id', Integer, Sequence('user_id_seq'), primary_key=True)
```
后,会失去这一特性。暂未找到解决方案。

注意，不同的数据库对于configs的要求会不同。例如，上面例子中的configs是Oracle的要求，如果是postgresql，可以简化成　
```
column_configs = [
    (['id',Integer],{'primary_key':True}),
    (['name',String],{}),
    (['fullname',String],{})
]
```

## 删除

In [165]:
from sqlalchemy.schema import DropTable

table_name = 'users'
schema = 'test'

def drop_table(engine,table_name,schema = schema):
    try:
        metadata = MetaData()

        table = Table(
            table_name,
            metadata,
            schema = schema
        )
        engine.execute(DropTable(table))
    except ProgrammingError as e:
        if "does not exist" in str(e):
            print("Table doesn't exist")
    
drop_table(engine,table_name,schema = 'test')

## 获取表信息
需要配合select等方法使用，后面会介绍。由于之前被删除了，先新建表。

In [166]:
column_configs = [
    (['id',Integer],{'primary_key':True}),
    (['name',String(20)],{}),
    (['fullname',String(20)],{})
]

create_table(engine,'users',column_configs, schema = 'test')

In [167]:
def get_table(engine, table_name, schema = None):
    metadata = MetaData()
    return Table(table_name, metadata, schema = schema, autoload=True, autoload_with=engine)

t = get_table(engine, table_name, schema='test')
t.columns.values()

[Column('id', INTEGER(), table=<users>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f9820adf828>, for_update=False)),
 Column('name', VARCHAR(length=20), table=<users>),
 Column('fullname', VARCHAR(length=20), table=<users>)]

## 插入数据

### 构造insert object

In [168]:
ins = t.insert().values(name='jack', fullname='Jack Jones')

由于不同的sql数据库,对应的sql语句会有区别,上面的函数执行后只是在ins object中记录了待绑定的数据。　如果要预览生成的sql语句，需要传入engine或者指定dialect明确是哪种数据库。

In [169]:
str(ins.compile(engine, compile_kwargs={"literal_binds": True}))

"INSERT INTO test.users (name, fullname) VALUES ('jack', 'Jack Jones') RETURNING test.users.id"

In [170]:
from sqlalchemy.dialects import postgresql
str(ins.compile(dialect = postgresql.dialect(), compile_kwargs={"literal_binds": True}))

"INSERT INTO test.users (id, name, fullname) VALUES (%(id)s, 'jack', 'Jack Jones')"

注意两者还是有一定的差别的, 传入engine后生成的sql是实际被执行的sql语句,更准确。

### 执行insert object

In [171]:
with engine.connect() as conn:
    result = conn.execute(ins)

可以用result.insered_primary_key很方便的找到插入记录的id

In [172]:
result.inserted_primary_key

[1]

### 检查插入的数据

In [173]:
with engine.connect() as conn:
    print(conn.execute(t.select()).fetchall())

[(1, 'jack', 'Jack Jones')]

如果创表的时候用了大写， 时候， 只能用'A'来选择

### 批量插入数据
例如从DataFrame插入数据

In [174]:
from pandas import DataFrame

In [175]:
df = DataFrame({'name':['Junjie','Xu'],'fullname':['Cai','Zhang']})
df

  fullname    name
0      Cai  Junjie
1    Zhang      Xu

转成dict格式后插入

In [176]:
ins = t.insert().values(df.to_dict(orient='records'))
with engine.connect() as conn:
    result = conn.execute(ins)
with engine.connect() as conn:
    print(conn.execute(t.select()).fetchall())

[(1, 'jack', 'Jack Jones'), (2, 'Junjie', 'Cai'), (3, 'Xu', 'Zhang')]