In [1]:
from pandas import DataFrame, Series

In [5]:
df = DataFrame.from_records(
    [
        (1,2),
        (3,4),
        (5,None)
    ],
    columns = ['A','B']
)

In [8]:
l = ['dict', 'list', 'series', 'split', 'records', 'index']
df.to_dict(orient='dict')

{'A': {0: 1, 1: 3, 2: 5}, 'B': {0: 2.0, 1: 4.0, 2: nan}}

In [9]:
df.to_dict(orient='list')

{'A': [1, 3, 5], 'B': [2.0, 4.0, nan]}

In [10]:
df.to_dict(orient='series')

{'A': 0    1
 1    3
 2    5
 Name: A, dtype: int64, 'B': 0    2.0
 1    4.0
 2    NaN
 Name: B, dtype: float64}

In [11]:
df.to_dict(orient='split')

{'columns': ['A', 'B'],
 'data': [[1.0, 2.0], [3.0, 4.0], [5.0, nan]],
 'index': [0, 1, 2]}

In [12]:
df.to_dict(orient='records')

[{'A': 1.0, 'B': 2.0}, {'A': 3.0, 'B': 4.0}, {'A': 5.0, 'B': nan}]

In [13]:
df.to_dict(orient='index')

{0: {'A': 1.0, 'B': 2.0}, 1: {'A': 3.0, 'B': 4.0}, 2: {'A': 5.0, 'B': nan}}

In [15]:
list(df.to_records())

[(0, 1, 2.0), (1, 3, 4.0), (2, 5, nan)]

In [16]:
list(df.to_records(index = False))

[(1, 2.0), (3, 4.0), (5, nan)]

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'